#home-banner {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    position: relative;
}

#home-banner img {
    display: block;
}

.home-banner_content {
    padding-left: 2rem;
    position: absolute;
    top: 40%;
    left: 16%;
    transform: translateY(-50%);
}

.home-banner_content h1 {
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #2c2e53;
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.home-banner_content span {
    font-family: 'Gotham-Ultra';
    color: #bd945f;
}

.home-banner_content p {
    max-width: 34rem;
    margin-bottom: 0.75rem;
    text-align: justify;
}

.home-banner_btn {
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #bd945f;
    border: 0.2rem solid #bd945f;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
#home-category {
    background-color: #f5f5f5;
}

#home-category .list-category {
    background-color: #fff;
    position: relative;
    top: -3.5rem;
    padding: 0rem 3rem;
}

#home-category .list-category .col-md-3 a>img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

#home-category .col-md-3 {
    align-items: center;
    text-align: center;
}

#home-category .list-category .row .col-md-3 {
    padding: 2.5rem 0 3rem 0;
}

#home-category .list-category .row a>p {
    color: #2c2e53;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Gotham-Ultra';
}
.product-slick {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.product-slick h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #2c2e53;
    padding-top: 1rem;
    padding-bottom: 0.5rem
}

.product-slick h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

.product-slick .product-box {
    width: 16rem;
    margin: 0 1rem;
    padding-top: 3.5rem;
}

.product-slick .product-list {
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 74rem;
}
.product-slick .product-content{
    padding: 1rem 0 0.5rem 0;
}
.product-slick .product-content>h3{
    font-size: 1rem;
    margin-bottom: 0;
}
.product-slick .product-content .product-star{
    color: #bd945f;
    margin-bottom: 0;
}
.product-slick .product-content .product-details {
    color: #666666;
    margin-bottom: 0;
}
.product-slick .product-list .slick-arrow {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #bd945f;
    color: #fff;
    top: 30%;
}

.product-slick .product-list .slick-prev {
    right: calc(100% + 10px);
}

.product-slick .product-list .slick-next {
    left: calc(100% + 10px);
}